# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Logs and cache
*.log
*.cache
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/

# Docker-specific
docker/data/
docker/logs/
docker/tmp/

# db
db/*.sock
